.scroller {

   width: 100%;
   position: absolute;
   z-index: 1;
   top: 0px;

}

.scroll-container {

   width: 100%;
   position: fixed;
   left: 0px;
   top: 0;
   z-index: 2;

}

.section {

   height: 100vh;
   width: 100%;
   z-index: 2;

}

.section-2 {

   position: relative;
   background-color: black;

}

.section-3 {

   position: relative;
   background-color: red;

}

.section-4 {

   position: relative;
   background-color: green;


}

.active-section {

   display: block;
   z-index: 5;
   top: 0px;
   left: 0px;

}
