<div class="nav">
   <div class="columns">
      <div class="column">
         <div class="logo-nav"></div>
      </div>
      <div class="column nav-right">
         <ul class="nav-ul">
            <li class="m-r-25 contact-btn-menu"><a href="">CONTACT</a>
               <div class="dropdown-nav">
                  <ul>
                     <li><a href="">0187 60 80 20</a></li>
                     <li><a href="">WELKOM@DINK.NL</a></li>
                     <li><a href="">06 00 00 00 00</a></li>
                  </ul>
               </div>
            </li>
            <li class="li-menu-trigger">MENU<span class="menu-trigger-icon"></span></li>
         </ul>

      </div>
   </div>
</div>
