.landing-page {

   width: 100%;
   height: 100vh;
   // animation: landingAnimation 500ms;
   // animation-timing-function: ease-in-out;
   // animation-fill-mode: forwards;
   // animation-delay: 3s;
   opacity: 1;
   z-index: 1;
   overflow: hidden;
   top: 0px;

}

.home-video {

   width: 100vw;
   height: 100vh;
   position: absolute;
   top: 0px;
   left: 0px;
   z-index: 0;
   min-width: 100%;
   min-height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .home-video {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .home-video {
    width: auto;
    height: 100%;
  }
}

.big-text-wrapper {

   top: 0;
    left: 0;
    width: 100%;
    height: 100%;


   .top {

      height: 100%;
      width: 100%;
      font-size: 367px;
      font-weight: 900;
      color: rgba(#72748E, .1);
      position: relative;
      background-image: url('../img/creatief.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      margin-bottom: -30px;

   }

   .bottom {

      height: 100%;
      width: 100%;
      font-size: 367px;
      font-weight: 900;
      color: rgba(#72748E, .1);
      position: relative;
      background-image: url('../img/bureau.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

   }

   .play-btn {

      width: 100px;
      height: 100px;
      background-image: url('../img/play-button.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -50px;
      margin-top: -55px;

   }

}

.home-bottom-content {

   width: 100%;
   height: 100px;
   position: absolute;
   top: 100%;
   z-index: 2;
   margin-top: -135px;
   display: flex;
   flex-direction: row;
   padding-left: 35px;
   padding-right: 35px;
   // animation: bottomAnimation 1s;
   // animation-timing-function: ease-in-out;
   // animation-fill-mode: forwards;
   // animation-delay: 5.5s;
   // transform: translateY(200px);

   .left-content {

      width: 100%;
      height: 100px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;

      .volume {

         width: 34px;
         height: 34px;
         background-image: url('../img/volume-uit.svg');
         background-size: contain;
         background-repeat: no-repeat;
         background-position: center;

      }

   }

   .center-content {

      width: 100%;
      height: 100px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;

      .skip-video {

         color: white;
         margin-bottom: 15px;
         font-size: 16px;

      }

      .skip-video:hover .skip-message {

         visibility: visible;
         opacity: 1;

      }

      .skip-message {

         color: $purple;
         font-size: 16px;
         position: relative;
         padding-right: 30px;
         margin-bottom: 25px;
         transition: 300ms;
         opacity: 0;
         visibility: hidden;

         .smiley-home {

            background-image: url('../img/dink-smiley.svg');
            display: inline-block;
            width: 25px;
            height: 25px;
            position: absolute;
            top: -3px;
            left: 100%;
            margin-left: -25px;

         }

      }

   }

   .right-content {

      width: 100%;
      height: 100px;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;

   }

}
